#home {
  padding: 45px 0px;
.profile_box1 {
  .promo_photo_box {
    width: 320px;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    .my_promo_photo {
      width: 320px;
      height: 320px;
      position: relative;
      .upload_promo_image {
        background: url(img/upload_promo_image.png);
        width: 27px;
        height: 27px;
        display: block;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 20px;
      }
      .dell_promo_image {
        background: url(img/dell_promo_image.png);
        width: 27px;
        height: 27px;
        display: block;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 60px;
      }
      #my_promo_photo_box {
        width: 320px;
        height: 320px;
      }
    }
    a {
      color: #27282d;
      margin-top: 22px;
      display: block;
      text-decoration: underline;
      padding-left: 20px;
      &.edit_profile_url {
        background: url(img/edit_profile_url.png) left center no-repeat;
      }
      &.show_profile_url {
        background: url(img/show_profile_url.png) left center no-repeat;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .raytings_and_balance_box {
    width: 585px;
    display: inline-block;
    vertical-align: top;
    .left_block {
      width: 299px;
      display: inline-block;
      vertical-align: top;
      padding-right: 17px;
      border-right: 1px solid #d1d1d1;
    }
    .right_block {
      width: 230px;
      display: inline-block;
      vertical-align: top;
      padding-left: 17px;
    }
    .raytings_and_balance {
      background: #eff0f2;
      padding: 25px;
      border-radius: 9px;
      h3 {
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        vertical-align: top;
        span {
          color: #fff;
          background: #2a597d;
          font-size: 16px;
          display: inline-block;
          width: 51px;
          text-align: center;
          padding: 5px 0px;
          border-radius: 14px;
          font-weight: normal;
          margin-left: 17px;
          margin-right: 10px;
        }
      }
      .my_global_reyting {
        display: inline-block;
        vertical-align: top;
        p {
          background: #ffcc00;
        }
      }
      .rayt_parametr {
        padding-top: 30px;
        label {
          display: inline-block;
          vertical-align: middle;
        }
        .my_reyting {
          display: inline-block;
          vertical-align: middle;
          margin: 4px 0px;
        }
      }
      .reyting_in_area {
        p {
          display: inline-block;
          vertical-align: top;
          width: 133px;
          span {
            width: 27px;
            height: 27px;
            border-radius: 27px;
            display: inline-block;
            text-align: center;
            background: #6089a8;
            padding-top: 5px;
            color: #fff;
          }
          &:nth-child(1) {
            span {
              background: #89bc2f;
            }
          }
        }
      }
    }
    .balanse_box {
      h5 {
        font-weight: bold;
        color: #27282d;
        text-decoration: underline;
        background: url(img/balanse_box.png) 28% 89% no-repeat;
        padding: 6px 0px;
      }
      p {
        font-size: 40px;
        font-weight: bold;
        padding: 10px 10px;
        border: 1px solid #b5b5b5;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 35px;
        margin-top: 10px;
        span {
          font-size: 20px;
          padding-left: 10px;
        }
      }
    }
    .blue_buttons {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
    .green_buttons {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
    .statistic_work_box {
      padding-top: 50px;
      h3 {
        font-weight: bold;
        font-size: 19px;
        padding-bottom: 20px;
      }
      .statistic_work_data {
        padding-bottom: 25px;
        span {
          text-decoration: underline;
        }
      }
      ul {
        padding-left: 20px;

        li {
          list-style: initial;
          padding: 4px 0px;
        }
      }
      p {
        background: url(img/statistic_work_data.png) top center no-repeat;
        padding-top: 70px;
        padding-right: 65px;
        font-size: 18px;
        line-height: 22px;
        position: relative;
        span {
          font-size: 60px;
          font-weight: bold;
          vertical-align: top;
          position: absolute;
          right: 20px;
          bottom: 11px;
          height: 34px;
        }
      }
    }
  }
}
  .detail_sto_table {
    margin-top: 50px;
    width: 100%;
    thead {
      background: #eff0f2;
      font-weight: bold;
      position: relative;
      tr {
        border-radius: 5px;
        td {
          padding: 13px 5px 13px 28px;
          font-size: 18px;
        }
          td:nth-child(1) {
            width: 200px;
          }
        td:nth-child(2) {
          width: 240px;
        }
        td:nth-child(3) {
          width: 230px;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 13px 5px 13px 28px;
          p {
            padding-bottom: 4px;
          }
          &:nth-child(2) {
            text-decoration: underline;
          }
          li {
            list-style: initial;
            padding-bottom: 4px;
          }
        }
      }
    }
  }
  .sto_photo_box {
    h3 {
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 20px;
    }
    .sto_photo_block {
      .sto_photo {
        width: 225px;
        height: 246px;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        position: relative;
        h4 {
          color: #27282d;
          font-style: italic;
          width: 225px;
          padding-bottom: 10px;
        }
        a {
          display: block;
        }
        img {
          width: 225px;
        }
        .my_sto_photo_box {
          display: none;
        }
        .update_img_sto_photo {
          background: url(img/upload_promo_image.png);
          width: 27px;
          height: 27px;
          display: block;
          cursor: pointer;
          position: absolute;
          bottom: 20px;
          left: 20px;
        }
      }
    }
    #img_sto_photo1, #img_sto_photo2, #img_sto_photo3, #img_sto_photo4, #img_sto_photo5, #img_sto_photo6, #img_sto_photo7 #img_sto_photo8 {
      width: 225px;
      height: 225px;
      position: relative;
    }
  }
}